@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


a {
    text-decoration: none;
}


.title {
    margin-bottom: 1.3em;
   font-family: 'Poppins', sans-serif; 
   color: #CFCFCF;
   font-weight: 400;
   font-size: 18px;
}

.bg {
    width: 100vw;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    svg {
        position: relative;
        width: 100%;
        
    }
}

.container-centre {
    margin-top: 4em;
    font-family: 'Poppins', sans-serif;
    background: #2D2D2D;
    box-shadow: -6px 2px 21px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 2em 2.5em 2em 2.5em;

    .inputs {
        input {
            margin-top: -1em;
            border-radius: 4px;
            outline: none;
            border: none;
            background-color: #393939;
            font-size: 15px;
            padding: 0.5em 0.8em 0.5em 0.8em;
            color: rgb(250, 250, 250);
            font-weight: 400;

            &::placeholder {
                font-weight: 500;
            }
        }
    }

    .dec {
        color: #555555;
        font-size: 15px;
    }

    .btn-primary{
        background: linear-gradient(110.6deg, #FFFFFF -205.92%, #2C1ECE 153.01%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 4px;
        transition: filter 0.5s;

        &:hover {
            filter: brightness(80%);
        }
    }

    .btn-secondary {
        background: linear-gradient(153.77deg, #84B7F0 -9.67%, #0E1A28 167.9%);
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding: 0.7em 2em;
        font-size: 12px;
                border: none;

        svg {
            margin-left: 1em;
        }
    }

    .btn-success {
        background: linear-gradient(153.77deg, #714AA3 -9.67%, #0E1A28 167.9%);
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding: 0.6em 4em;
        font-size: 12px;
        border: none;

        
        svg {
            margin-left: 1em;
        }
    }
}

@media only screen and (max-width: 1850px) {
    .btn-secondary, .btn-success {
        font-size: 10px;
    }
}